version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: ElecWasteCollection.API/Dockerfile
    container_name: elecwastecollection-api-container
    ports:
      - "5000:8080" 
    env_file:
      - .env 
    environment:
      - DOTNET_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
    depends_on:
      db:
        condition: service_healthy 

  db:
    image: postgres:15-alpine
    container_name: elecWasteCollection-db
    restart: always
    env_file:
      - .env 
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432" 
    volumes:
      - elecWasteCollection_pgdata:/var/lib/postgresql/data
    healthcheck: 
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  elecWasteCollection_pgdata: